
/*
  root element for the scrollable.
  when scrolling occurs this element stays still.
  */
.scrollable {

    /* required settings */
    position:relative;
    overflow:hidden;
    width: 961px;
    height:380px;

    /* custom decorations */

    background:url(../images/h300.png) repeat-x;
}

/*
   root element for scrollable items. Must be absolutely positioned
   and it should have a extremely large width to accomodate scrollable
   items.  it's enough that you set the width and height for the root
   element and not for this element.
*/
.scrollable .items {
    /* this cannot be too large */
    width:200000em;
    position:absolute;
    clear:both;
}

.items div {
    float:left;
    width:961px;
}

/* single scrollable item */
.scrollable img {
    float:left;
    width:961px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

/* active item */
.scrollable .active {
    position:relative;
    cursor:default;
}
